@media (max-width: 1024px) {
  .navigate {
    margin-left: 100px;
  }
}
@media (max-width: 1024px) {
  .login {
    margin-left: 700px;
  }
}
@media (max-width: 1024px) {
  .many-svg {
    left: 500px;
  }
}
@media (max-width: 1024px) {
  .popular-title {
    left: -130px;
  }
}
@media (max-width: 1024px) {
  .popular-signature {
    left: -130px;
  }
}
@media (max-width: 1024px) {
  .second-popular-ul {
    position: relative;
    left: -40px;
    margin-top: 350px;
  }
}
@media (max-width: 1024px) {
  .first-popular-ul {
    position: relative;
    left: -30px;
  }
}
@media (max-width: 1024px) {
  .second-popular-ul {
    position: relative;
    left: -30px;
    margin-top: 350px;
  }
}
@media (max-width: 1024px) {
  .third-li1 {
    position: relative;
    left: -833px;
    top: 320px;
  }
}
@media (max-width: 1024px) {
  .third-li2 {
    position: relative;
    left: -420px;
    top: -323px;
  }
}
@media (max-width: 1024px) {
  .load-more {
    margin-left: 378px;
  }
}
@media (max-width: 1024px) {
  .brand-who-trusted-us {
    width: 1024px;
    margin-left: -15px;
    margin-top: -80px;
  }
}
@media (max-width: 1024px) {
  .brand-who-trusted-us > a {
    margin-left: 50px;
  }
}

@media (max-width: 1024px) {
  .tools-title {
    position: relative;
    left: -100px;
  }
}
@media (max-width: 1024px) {
  .title-signature {
    position: relative;
    left: -100px;
  }
}
@media (max-width: 1024px) {
  .explore-more {
    position: relative;
    margin-top: 30px;
    left: -100px;
  }
}
@media (max-width: 1024px) {
  .first-tools-ul {
    position: relative;
    left: 210px;
  }
}
@media (max-width: 1024px) {
  .first-li2-1 {
    position: relative;
    left: -20px;
  }
}
@media (max-width: 1024px) {
  .second-tools-ul {
    position: relative;
    left: 210px;
  }
}
@media (max-width: 1024px) {
  .second-li2-1 {
    position: relative;
    left: -20px;
  }
}
@media (max-width: 1024px) {
  .swiper-button-prev {
    position: relative;
    left: 30px;
  }
}
@media (max-width: 1024px) {
  .swiper-button-next {
    position: relative;
    left: 970px;
  }
}
@media (max-width: 1024px) {
  .swiper-scrollbar {
    margin-left: 350px;
  }
}
@media (max-width: 1024px) {
  .decor,
  .man-dscr {
    position: relative;
    left: -270px;
  }
}
@media (max-width: 1024px) {
  .swiper-man {
    margin-left: 0px;
  }
}
@media (max-width: 1024px) {
  .blurbg {
    position: relative;
    left: -200px;
  }
}
@media (max-width: 1024px) {
  .contributor-title {
    position: relative;
    left: -200px;
  }
}
@media (max-width: 1024px) {
  .contributor-signature {
    position: relative;
    left: -137px;
  }
}
@media (max-width: 1024px) {
  .box-email {
    position: relative;
    left: -197px;
  }
}
@media (max-width: 1024px) {
  .copyright {
    position: relative;
    left: 0px;
  }
}
@media (max-width: 1024px) {
  .contact-us {
    position: relative;
    left: -80px;
  }
}
@media (max-width: 1024px) {
  .categories {
    position: relative;
    left: -160px;
  }
}
@media (max-width: 1024px) {
  .company-info {
    position: relative;
    left: -190px;
  }
}
@media (max-width: 1024px) {
  .footer-line {
    position: relative;
    left: -14px;
  }
}
