/* шрифты */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
/* переменные */
:root {
  --main-bg-color: #1e252b;
  --accent-color: #ff6e30;
  --main-title-color: rgba(255, 255, 255, 0.9);
  --main-text-color: rgba(255, 255, 255, 0.55);
}
/* всякие обязательные штучки */
.blur-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 9998;
}
a {
  text-decoration: none;
  color: var(--main-text-color);
  transition: color 0.2s;
}
a:hover {
  color: #fff;
}
ul {
  list-style: none;
}
body {
  background: var(--main-bg-color);
}
.container {
  position: relative;
  max-width: 1440px;
  margin: 0px auto;
  top: -20px;
  /* border: 1px solid white; */
}
body {
  font-family: Poppins;
  overflow-x: hidden;
}

.login-popup,
.register-popup {
  display: none;
  position: relative;
  background: radial-gradient(
    circle at right,
    var(--accent-color) 0%,
    rgba(36, 44, 49, 1) 125%
  );
  transition: 0.3s;
  width: 329px;
  height: 343px;
  padding: 60px 48px;
  gap: 24px;
  border: 3px solid black;
  position: fixed;
  border-radius: 40px;
  z-index: 9999;
  margin-top: 150px;
  left: 700px;
}
.closeLoginPopupBtn {
  position: absolute;
  top: 20px;
  left: 370px;
  width: 25px;
  height: 25px;
  --weight: 3px;
  --aa: 1px; /* anti-aliasing */
  --color: black;
  border-radius: 3px;
  background: linear-gradient(
      45deg,
      transparent calc(50% - var(--weight) - var(--aa)),
      var(--color) calc(50% - var(--weight)),
      var(--color) calc(50% + var(--weight)),
      transparent calc(50% + var(--weight) + var(--aa))
    ),
    linear-gradient(
      -45deg,
      transparent calc(50% - var(--weight) - var(--aa)),
      var(--color) calc(50% - var(--weight)),
      var(--color) calc(50% + var(--weight)),
      transparent calc(50% + var(--weight) + var(--aa))
    );
  cursor: pointer;
  transition: all 0.3s;
}
.circlebg1{
  display: none;
  position: absolute;
  top: 7px;
  left: 356.5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}
.login-with {
  position: relative;
  left: 20px;
  display: flex;
  width: 281px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  text-align: center;
  border-radius: 8px;
  border: 4px solid #d0d5dd;
  background: #fff;
  box-shadow: 0px 4px 8px 0px rgba(16, 24, 40, 0.05);
  cursor: pointer;

  font-family: Poppins;
  font-weight: 500;
}
.login-with-apple,
.register-with-apple {
  margin-top: 16px;
}
.login-popup-line1,
.register-popup-line1 {
  width: 119.5px;
  gap: 10px;
  height: 1px;
  background: #bcccdc;
  margin-top: 33px;
  margin-left: 22px;
}
.login-popup-or,
.register-popup-or {
  position: relative;
  left: 153px;
  top: -14px;
  color: #bcccdc;
}
.login-popup-line2,
.register-popup-line2 {
  position: relative;
  width: 119.5px;
  gap: 10px;
  height: 1px;
  background: #bcccdc;
  margin-left: 180px;
  top: -26px;
}
.login-popup-label-nickname,
.login-popup-input-nickname,
.login-popup-label-password,
.login-popup-input-password,
.register-popup-label-nickname,
.register-popup-input-nickname,
.register-popup-label-email,
.register-popup-input-email,
.register-popup-label-password,
.register-popup-input-password {
  position: relative;
  left: 20px;
}
.login-popup-input-password,
.register-popup-input-password {
  position: relative;
  top: 0px;
}
.login-popup-input-password,
.login-popup-input-nickname,
.register-popup-input-password,
.register-popup-input-nickname,
.register-popup-input-email  {
  padding: 8px;
  border-radius: 8px;
  border: none;
  width: 281px;
}
.login-popup-input-password::placeholder,
.login-popup-input-nickname::placeholder,
.register-popup-input-password::placeholder,
.register-popup-input-nickname::placeholder,
.register-popup-input-email::placeholder {
  font-family: Poppins;
  font-weight: 500;
  text-align: start;
}
.visibility-off {
  position: relative;
  left: 285px;
  top: -27px;
}
.visibility-on {
  display: none;
  position: relative;
  left: 285px;
  top: -27px;
}
.login-btn,
.register-btn {
  position: absolute;
  top: 380px;
  left: 157px;
  width: 118px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #1e252b;
  color: #fff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.login-btn {
  left: 90px;
}
.login-btn:hover,
.login-btn:focus,
.register-btn:hover,
.register-btn:focus {
  border: 2px solid var(--accent-color);
}
.login-btn:active,
.register-btn:active {
  background: var(--accent-color);
}
.register-popup-input-email,
.register-popup-label-email,
.register-popup-input-nickname,
.register-popup-label-nickname,
.register-popup-input-password,
.register-popup-label-password {
  top: -20px;
}

.register-popup {
  display: none;
}
.register-btn {
  top: 401px;
  left: 78px;
}
.register {
  top: -46px;
}
.or-login {
  position: absolute;
  top: 383px;
  left: 208px;
}
.or-register {
  position: absolute;
  top: 362px;
  left: 220px;
}
/* хедер */
.logo {
  transform: translateY(40px);
  cursor: pointer;
}
.sites-name {
  color: var(--main-title-color);
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-left: 45px;
  transform: translateY(-20px);
  cursor: pointer;
}
.navigate {
  color: var(--main-text-color);
  font-weight: 500;
  margin-left: 360px;
}
.navigate > ul {
  display: flex;
  flex-direction: row;
  transform: translateY(-67px);
}
.navigate > ul > li {
  margin-left: 50px;
  cursor: pointer;
}
.login {
  width: 118px;
  height: 48px;
  flex-shrink: 0;
  border: none;
  border-radius: 8px;
  background: var(--main-bg-color);

  color: rgba(255, 255, 255, 0.78);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 1115px;
  transform: translateY(-120px);
  cursor: pointer;
}
.sign-up {
  width: 118px;
  height: 48px;
  flex-shrink: 0;
  border: none;
  border-radius: 8px;
  background: var(--accent-color);

  color: #fdf5ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transform: translateY(-120px);
  cursor: pointer;
}
/* типа второй хедер */
h1 {
  color: rgba(255, 255, 255, 0.9);
  font-family: sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
}
h1 > span {
  color: var(--accent-color);
}
.h1-subtext {
  color: var(--main-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.search-input-content {
  width: 497.659px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background: #283036;
  margin-top: 60px;
}
.search-input {
  background: #283036;
  border: none;
  height: 25px;
  width: 200px;
  transform: translate(55px, 8px);
  outline: none;
  color: rgba(255, 255, 255, 0.38);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-input::placeholder {
  color: rgba(255, 255, 255, 0.38);
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.search-btn {
  width: 130.435px;
  height: 48px;
  flex-shrink: 0;
  border: none;
  border-radius: 8px;
  background: var(--accent-color);

  color: #fff;
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transform: translate(119px, 8px);
  cursor: pointer;
}
.search-btn:active {
  background: var(--main-bg-color);
  border: 2px solid var(--accent-color);
}
.search-icon {
  transform: translate(-190px, 13px);
}
.facebook-logo,
.insta-logo,
.twitter-logo {
  position: absolute;
  transform: translateY(122px);
}
.insta-logo {
  margin-left: 59px;
}
.twitter-logo {
  margin-left: 122px;
}
.many-svg {
  position: relative;
  left: 850px;
  bottom: 404px;
}

.back-top-btn {
  display: none;
  position: fixed;
  width: 45px;
  height: 45px;
  background: var(--accent-color);
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  cursor: pointer;
  left: 1600px;
  top: 850px;
}
.back-top-btn:active {
  background: var(--main-bg-color);
  border: 2px solid var(--accent-color);
}
/* делаем первую секцию */
.popular {
  position: relative;
  top: -300px;
  width: 1224px;
  height: 1109px;
  flex-shrink: 0;
}
.ttitle {
  color: var(--main-title-color);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 62.4px;
}
.popular-title {
  position: relative;
  left: 90px;
  text-align: center;
}
.ttext {
  color: var(--main-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}
.popular-signature {
  position: relative;
  text-align: center;
  left: 90px;
}

.first-popular-ul,
.second-popular-ul,
.first-tools-ul,
.second-tools-ul {
  display: flex;
}
.second-popular-ul {
  margin-top: 100px;
}
.first-li1,
.second-li1,
.third-li1,
.first-li2,
.second-li2,
.third-li2 {
  width: 392px;
  height: 294px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #1e252b;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 25px;
  transform: translateX(30px);
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.first-li1-1,
.first-li2-1,
.second-li1-1,
.second-li2-1 {
  width: 288px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #1e252b;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-left: 25px;
  transform: translateX(30px);
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.first-li1-1:hover,
.first-li2-1:hover,
.second-li1-1:hover,
.second-li2-1:hover {
  width: 288px;
  height: 284px;
  flex-shrink: 0;
  border-radius: 15px;
  background-image: radial-gradient(
    circle at top right,
    rgba(255, 110, 48, 0.2) 0%,
    rgba(36, 44, 49, 1) 25%
  );
  background-color: rgba(40, 48, 54, 0.6);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  transform: translate(30px, -20px);
}
.second-tools-ul {
  position: relative;
  top: -300px;
  left: 507px;
}
#text31-1,
#text41-1,
#text11-1,
#text21-1 {
  color: rgba(255, 165, 55, 0.55);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -40px;
}
#title3-1,
#text31-1 {
  transform: translate(130px, -105px);
}
#text32-1 {
  transform: translateY(-7px);
}
.first-li2-1 > img,
#title2-1,
#text21-1 {
  position: relative;
  bottom: 20px;
}
#text22-1 {
  transform: translateY(-21px);
}
.a,
.b,
.c {
  transform: translateY(-20px);
  margin-left: -10px;
}
.b {
  margin-left: 10px;
}
.d,
.e,
.f,
.j,
.k,
.l {
  margin-left: -10px;
}
.e,
.k,
.h {
  margin-left: 10px;
}
.j,
.k,
.l {
  transform: translateY(-5px);
}
.g,
.h,
.i {
  transform: translateX(-10px);
}
.l1 {
  transform: translate(-90px, -5px);
}
.i1 {
  transform: translate(-110px, -1px);
}
.first-li1:hover,
.second-li1:hover,
.third-li1:hover,
.first-li2:hover,
.second-li2:hover,
.third-li2:hover {
  width: 392px;
  height: 294px;
  flex-shrink: 0;
  border-radius: 15px;
  background-image: radial-gradient(
    circle at top right,
    rgba(255, 110, 48, 0.2) 0%,
    rgba(36, 44, 49, 1) 25%
  );
  background-color: rgba(40, 48, 54, 0.6);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  transform: translate(30px, -20px);
}
.first-li1:hover::after,
.second-li1:hover::after,
.third-li1:hover::after,
.first-li2:hover::after,
.second-li2:hover::after,
.third-li2:hover::after,
.first-li1-1:hover::after,
.first-li2-1:hover::after {
  content: "";
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  top: 6px;
  right: 16px;
}
.popular-logo,
.tools-logo {
  margin-left: 33px;
}
.first-popular-ul > li > h5,
.first-popular-ul > li > p:nth-child(3),
.second-popular-ul > li > h5,
.second-popular-ul > li > p:nth-child(3),
.first-tools-ul > li > h5,
.first-tools-ul > li > p:nth-child(3),
.second-tools-ul > li > h5,
.second-tools-ul > li > p:nth-child(3) {
  display: flex;
  flex-direction: column;
  transform: translate(130px, -100px);
}
.first-popular-ul > li > h5,
.second-popular-ul > li > h5,
.first-tools-ul > li > h5,
.second-tools-ul > li > h5 {
  color: rgba(255, 255, 255, 0.78);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.first-popular-ul > li > p:nth-child(3),
.second-popular-ul > li > p:nth-child(3),
.first-tools-ul > li > p:nth-child(3) .second-tools-ul > li > p:nth-child(3) {
  color: rgba(255, 165, 55, 0.55);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -40px;
}
.first-popular-ul > li > p:nth-child(4),
.second-popular-ul > li > p:nth-child(4),
.first-tools-ul > li > p:nth-child(4),
.second-tools-ul > li > p:nth-child(4) {
  position: relative;
  color: rgb(255, 255, 255);
  opacity: 0.55;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  bottom: 70px;
  margin-left: 33px;
}
.first-popular-ul > li > img,
.second-popular-ul > li > img,
.first-tools-ul > li > img,
.second-tools-ul > li > img {
  margin-top: 34px;
}
.second-popular-ul > li > img,
.first-tools-ul > li > img {
  margin-left: 33px;
}
.likebtn,
.folderbtn {
  display: inline;
  width: 39px;
  height: 39px;
  border-radius: 5px;
  position: relative;
  background: transparent;
  border: none;
  top: -60px;
  left: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s,
    color 0.3s ease 0s;
}
.folderbtn {
  position: relative;
  top: -67.5px;
}
.likebtn {
  position: relative;
  top: -70px;
}
.likebtn:hover,
.folderbtn:hover {
  box-shadow: 0 5px 10px -3px rgba(18, 18, 18, 0.15);
  background-color: #2c353b;
}
.like-icon-active,
.like-icon {
  position: relative;
  top: 0px;
}
.like-icon {
  position: relative;
  /* top: 5px; */
}
.like-icon-active {
  position: relative;
  top: 0px;
  left: 1px;
}
.visitbtn {
  position: relative;
  bottom: 75px;
  left: 170px;
  width: 106px;
  height: 42px;
  flex-shrink: 0;
  border: none;
  border-radius: 8px;
  background-color: #1e252b;

  color: rgba(255, 255, 255, 0.55);
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  cursor: pointer;
}
.visitbtn1 {
  position: relative;
  left: 78px;
}
.visitbtn:hover,
.explore-more:hover,
.join-us:hover,
.sign-up:hover,
.back-top-btn:hover,
.add-resume:hover,
.search-btn:hover {
  -webkit-box-shadow: 0px 0px 21px -7px rgba(255, 111, 0, 1);
  -moz-box-shadow: 0px 0px 21px -7px rgba(255, 111, 0, 1);
  box-shadow: 0px 0px 21px -7px rgba(255, 111, 0, 1);
  transition: box-shadow 0.1s ease;
}
.visitbtn:active,
.explore-more:active,
.join-us:active {
  transform: scale(1.03);
}
.sign-up:active {
  background: var(--main-bg-color);
  border: 2px solid #ff6e30;
}
.folderbtn-svg {
  fill: rgba(255, 255, 255, 0.55);
}

.first-li2,
.second-li2,
.third-li2 {
  width: 392px;
  height: 294px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #1e252b;
  margin-left: 25px;
  transform: translateX(30px);
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.load-more {
  width: 184px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #1e252b;
  margin-left: 628px;
  margin-top: 100px;

  color: #ff6e30;
  font-family: inherit;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  cursor: pointer;
}

.brand-who-trusted-us {
  width: 1224px;
  height: 253px;
  flex-shrink: 0;
  border-radius: 25px;
  border: 2px solid rgba(255, 255, 255, 0.05);
  background: rgba(44, 53, 61, 0.2);
  backdrop-filter: blur(25px);
  background-image: radial-gradient(
    circle at top left,
    rgba(75, 47, 50, 1) 0%,
    rgba(36, 44, 49, 1) 15%
  );
  margin-left: 108px;
  margin-top: -200px;
}
.brand-who-trusted-us > h4 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-top: 55px;
}
.brand-who-trusted-us > a {
  margin-left: 107px;
  cursor: pointer;
}
.brand-who-trusted-us > a:nth-child(3) {
  position: relative;
  top: 7px;
}
.brand-who-trusted-us > a:nth-child(4) {
  position: relative;
  top: 7px;
}
.brand-who-trusted-us > a:last-child {
  position: relative;
  top: 4px;
}

.tools {
  width: 1224px;
  height: 638px;
  flex-shrink: 0;
  margin-left: 108px;
  margin-top: 200px;
}
.explore-more,
.join-us {
  width: 198px;
  height: 58px;
  flex-shrink: 0;
  border: none;
  border-radius: 8px;
  background: #ff6e30;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 60px;
  cursor: pointer;
}
.first-tools-ul {
  position: relative;
  left: 505px;
  bottom: 330px;
}
.swiperS {
  margin-left: 108px;
  margin-top: 200px;
  width: 1224px;
  height: 600px;
  flex-shrink: 0;
}
.swiper-button-next::after {
  width: 48px;
  height: 48px;
  color: #ff6e30;
  transform: translateY(-200px);
}
.swiper-button-prev::after {
  width: 48px;
  height: 48px;
  color: #ff6e30;
  transform: translateY(-200px);
}
.swiper-scrollbar-drag {
  width: 44px !important;
  height: 8px !important;
  background-color: #ff6e30 !important;
  margin-left: 0px;
}
.swiper-scrollbar {
  width: 88px !important;
  height: 8px !important;
  background-color: #283036;
  margin-left: 528px;
  transform: translateY(-350px);
}
.swiper-man {
  margin-left: 200px;
}
.blurbg {
  width: 265px;
  height: 91px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(40, 48, 54, 0.2);
  backdrop-filter: blur(25px);
  transform: translate(330px, -120px);
}
.swiper-man-name,
.your-name {
  color: rgba(255, 253, 253, 0.78);
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.39px;
  margin-left: 23px;
  transform: translateY(-17px);
}
.swiper-man-profession,
.your-profession {
  color: rgba(255, 253, 253, 0.55);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transform: translateY(-46px);
  margin-left: 23px;
}
.decor {
  transform: translate(650px, -550px);
}
.man-dscr {
  color: rgba(255, 255, 255, 0.78);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.21px;
  transform: translate(700px, -600px);
}

.resume-popup {
  width: 800px;
  height: 400px;
  background: radial-gradient(
    var(--accent-color) 0%,
    rgba(36, 44, 49, 1) 175%
  );;
}

.your-title {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 62.4px;
}
.your-photo {
  color: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 62.4px;
  transform: translate(300px, 50px);
}
.m {
  transform: translate(330px, 100px);
}
.descr {
  color: rgba(255, 255, 255, 0.78);
  font-family: Roboto;
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 214.286% */
  letter-spacing: 0.21px;
  transform: translate(800px, -210px);
}
.decor1 {
  transform: translate(750px, -150px);
}
.add-resume {
  width: 198px;
  height: 58px;
  flex-shrink: 0;
  border: none;
  border-radius: 8px;
  background: #ff6e30;

  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  transform: translate(480px, -50px);
  cursor: pointer;
}
.add-resume:active {
  background: var(--main-bg-color);
  border: 2px solid var(--accent-color);
}

.contributor {
  width: 553px;
  height: 311px;
  flex-shrink: 0;
  margin-left: 443px;
  margin-top: 250px;
}
.contributor-title,
.contributor-signature {
  text-align: center;
}
.contributor-signature {
  width: 427px;
  margin-left: 63px;
}
.box-email {
  width: 549px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1);
  background: #283036;
}
.contributor-email {
  background-color: transparent;
  border: none;
  height: 21px;
  color: rgba(255, 255, 255, 0.38);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 22px;
  margin-left: 24px;
  outline: none;
  position: relative;
  top: -52px;
}
.join-us {
  position: relative;
  top: -52px;
  left: 200px;
  width: 130px;
  height: 48px;
}
footer {
  position: relative;
  /* border: 1px solid #fff; */
  top: 225px;
  display: inline-block;
  left: 108px;
  padding-bottom: 140px;
}
.footer-logo {
  position: relative;
  top: -40px;
  font-weight: 600;
  margin-left: 50px;
}
.copyright > p:last-child,
footer > p {
  color: var(--main-text-color);
}
.copyright {
  max-width: 280px;
  top: 240px;
}
.footer-line {
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  height: 0.5px;
  width: 1440px;
  top: 200px;
}
.copyright > h5 {
  font-size: 16px;
  margin-top: -45px;
}
.contact-us {
  margin-left: 156px;
  max-width: 197px;
  top: 200px;
  line-height: 30px;
}
.categories {
  max-width: 112px;
  margin-left: 115px;
  line-height: 27px;
  top: 165px;
}
.categories > a {
  cursor: pointer;
  transition: color 0.2s;
}
.categories > a:hover {
  color: #fff;
}
.company-info {
  max-width: 144px;
  margin-left: 118px;
  top: 195px;
  line-height: 15px;
}
footer > h5 {
  color: var(--main-title-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -60px;
}
